fastapi
uvicorn
gradio
opencv-python
numpy
psycopg2
sqlalchemy
alembic
python-dotenv
apscheduler
asyncpg
insightface
onnxruntime
python-jose
python-multipart
scikit-learn
minio
gradio-webrtc
fastrtc
onnxruntime-gpu